@import '_color-definitions.scss';
@import 'functions.scss';

$color-primary: _get_palette_color($palette-deep_purple-500);
$color-primary-dark: _get_palette_color($palette-deep_purple-700);
$color-secondary: #6F3FC4;
$color-secondary-dark: #442677;
$color-tertiary: #5A339D;
$color-accent: _get_palette_color($palette-red-600);
$color-primary-contrast: _get_palette_color($color-dark-contrast);
$color-accent-contrast: _get_palette_color($color-dark-contrast);
$grid-desktop-gutter: 2em;

$color_text-light: rgba(255, 255, 255, 0.54);
$color-text-light-bold: #FFF;
$color-text-dark: #3A4A56;
$color-text-dark-bold: #000;
$color-title-sublte: #6e6e6e;

$bg: #EFEFEF;
$toolbar-bg: #FFF;
$dialog-bg: rgba(0,0,0,0.5);
$card-bg: #FFF;

$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;