.dialog-overlay {
  &#overlay {
    display: none;
    z-index: 25000;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;

    #screen {
      width:100%;
      height:100%;
      background-color: $dialog-bg;
      padding: 1em;

      .dialog {
        background: $card-bg;
        display: block;
        width: 25em;
        margin: 0 auto;
        z-index: 1550;

        @include breakpoint(small){
          width: 100%;
          max-width: 25em;
          margin: 0 auto;
        }

        .dialog-container-btn {
          text-align: right;
        }

        img {
          max-width: 50%;
          margin: 5% auto;
          display: block;
        }
      }
    }
  }
}