html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background: $bg;
}

.layout {
  .mdl-layout__header {
    background: $toolbar-bg;
    color: $color-text-dark-bold;
    
    .mdl-layout__drawer-button {
      color: $color-primary;
    }

    .mdl-layout__header-row{
      padding-left: 56px;
    }

    .mdl-textfield {
      padding-top: 27px;
    }
  }

  .mdl-layout__drawer {
    background: $color-secondary-dark;
    border: none;

    .mdl-menu__container {
      z-index: -1;
    }

    .mdl-menu .mdl-menu__item {
      display: flex;
      align-items: center;
    }

    .drawer-header {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 16px;
      height: auto;

      img{
        max-width: 60%;
        margin: 0 auto 16px;
      }

      span{
        color: $color-text-light-bold;
        text-align: center;
      }
    }

    .navigation {
      flex-grow: 1;
      z-index: -2;
      background: $color-primary;

      .mdl-navigation__link {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        color: $color-text-light;
        font-weight: 500;

        .material-icons {
          font-size: 24px;
          color: $color-text-light;
          margin-right: $grid-desktop-gutter;
        }

        &.selected {
          color: $color-text-light-bold;
          background: $color-secondary;
        }

        &:hover {
          background-color: $color-tertiary;
        }
      }
    }
  }

  .mdl-layout__content {
    .content-wrapper {
      width: 100%;
      height: 100%;

      .banner {
        width: 100%;
      }

      .inner-padding {
        padding: 28px 56px;

        @include breakpoint(small){
          padding: 16px;
        }
      }
    }
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 1.4em;
  font-weight: $weight-bold;
  color: $color-title-sublte;

  &.with-margin-top{
    margin-top: 28px;
  }
}

.color-primary {
  color: $color-primary;
}

.card {
  align-items: flex-start;
  align-content: flex-start;
  width: auto;
  height: auto;
  min-height: 0;

  &.dark {
    background: $color-primary;

    * {
      color: $color_text-light;
    }

    .divider {
      background: $color-secondary-dark;
      width: 100%;
      height: 1px;
    }
  }

  &.statistic {
    h3 {
      color: $color-text-light-bold;
      padding: 20px;
      font-size: 3.5em;
      font-weight: $weight-bold;

      @include breakpoint(large){
        font-size: 3em;
      }

      @include breakpoint(medium){
        font-size: 2.5em;
      }

      @include breakpoint(small){
        padding: 15px;
      }

      @include breakpoint(xsmall){
        font-size: 2em;
      }
    }
  }

  .title {
    font-size: 1.25em;
    font-weight: $weight-light;
    padding: 20px;
    color: $color-text-light-bold;
    background: $color-primary;
    width: 100%;

    @include breakpoint(medium){
      font-size: 1em;
    }

    @include breakpoint(small){
      font-size: 0.75em;
      padding: 15px;
    }
  }
}

.loading-wrapper {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;

  img {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
  }
}