/* ==========  Color Palettes  ========== */
/* colors.scss */
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.row.uniform > * > :first-child {
  margin-top: 0; }

.row.uniform > * > :last-child {
  margin-bottom: 0; }

.row.\30 \25  > * {
  padding: 0em 0 0 0em; }

.row.\30 \25 {
  margin: 0em 0 -1px 0em; }

.row.uniform.\30 \25  > * {
  padding: 0em 0 0 0em; }

.row.uniform.\30 \25 {
  margin: 0em 0 -1px 0em; }

.row > * {
  padding: 1.5em 0 0 1.5em; }

.row {
  margin: -1.5em 0 -1px -1.5em; }

.row.uniform > * {
  padding: 1.5em 0 0 1.5em; }

.row.uniform {
  margin: -1.5em 0 -1px -1.5em; }

.row.\32 00\25  > * {
  padding: 3em 0 0 3em; }

.row.\32 00\25 {
  margin: -3em 0 -1px -3em; }

.row.uniform.\32 00\25  > * {
  padding: 3em 0 0 3em; }

.row.uniform.\32 00\25 {
  margin: -3em 0 -1px -3em; }

.row.\31 50\25  > * {
  padding: 2.25em 0 0 2.25em; }

.row.\31 50\25 {
  margin: -2.25em 0 -1px -2.25em; }

.row.uniform.\31 50\25  > * {
  padding: 2.25em 0 0 2.25em; }

.row.uniform.\31 50\25 {
  margin: -2.25em 0 -1px -2.25em; }

.row.\35 0\25  > * {
  padding: 0.75em 0 0 0.75em; }

.row.\35 0\25 {
  margin: -0.75em 0 -1px -0.75em; }

.row.uniform.\35 0\25  > * {
  padding: 0.75em 0 0 0.75em; }

.row.uniform.\35 0\25 {
  margin: -0.75em 0 -1px -0.75em; }

.row.\32 5\25  > * {
  padding: 0.375em 0 0 0.375em; }

.row.\32 5\25 {
  margin: -0.375em 0 -1px -0.375em; }

.row.uniform.\32 5\25  > * {
  padding: 0.375em 0 0 0.375em; }

.row.uniform.\32 5\25 {
  margin: -0.375em 0 -1px -0.375em; }

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0; }

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0; }

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0; }

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0; }

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0; }

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0; }

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0; }

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0; }

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0; }

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0; }

.\31 2u\24  + *,
.\31 1u\24  + *,
.\31 0u\24  + *,
.\39 u\24  + *,
.\38 u\24  + *,
.\37 u\24  + *,
.\36 u\24  + *,
.\35 u\24  + *,
.\34 u\24  + *,
.\33 u\24  + *,
.\32 u\24  + *,
.\31 u\24  + * {
  clear: left; }

.\-11u {
  margin-left: 91.66667%; }

.\-10u {
  margin-left: 83.33333%; }

.\-9u {
  margin-left: 75%; }

.\-8u {
  margin-left: 66.66667%; }

.\-7u {
  margin-left: 58.33333%; }

.\-6u {
  margin-left: 50%; }

.\-5u {
  margin-left: 41.66667%; }

.\-4u {
  margin-left: 33.33333%; }

.\-3u {
  margin-left: 25%; }

.\-2u {
  margin-left: 16.66667%; }

.\-1u {
  margin-left: 8.33333%; }

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 1.5em 0 0 1.5em; }

  .row {
    margin: -1.5em 0 -1px -1.5em; }

  .row.uniform > * {
    padding: 1.5em 0 0 1.5em; }

  .row.uniform {
    margin: -1.5em 0 -1px -1.5em; }

  .row.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.uniform.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.uniform.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.uniform.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.uniform.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.uniform.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.uniform.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .row.uniform.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.uniform.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28xlarge\29  + *,
  .\31 1u\24\28xlarge\29  + *,
  .\31 0u\24\28xlarge\29  + *,
  .\39 u\24\28xlarge\29  + *,
  .\38 u\24\28xlarge\29  + *,
  .\37 u\24\28xlarge\29  + *,
  .\36 u\24\28xlarge\29  + *,
  .\35 u\24\28xlarge\29  + *,
  .\34 u\24\28xlarge\29  + *,
  .\33 u\24\28xlarge\29  + *,
  .\32 u\24\28xlarge\29  + *,
  .\31 u\24\28xlarge\29  + * {
    clear: left; }

  .\-11u\28xlarge\29 {
    margin-left: 91.66667%; }

  .\-10u\28xlarge\29 {
    margin-left: 83.33333%; }

  .\-9u\28xlarge\29 {
    margin-left: 75%; }

  .\-8u\28xlarge\29 {
    margin-left: 66.66667%; }

  .\-7u\28xlarge\29 {
    margin-left: 58.33333%; }

  .\-6u\28xlarge\29 {
    margin-left: 50%; }

  .\-5u\28xlarge\29 {
    margin-left: 41.66667%; }

  .\-4u\28xlarge\29 {
    margin-left: 33.33333%; }

  .\-3u\28xlarge\29 {
    margin-left: 25%; }

  .\-2u\28xlarge\29 {
    margin-left: 16.66667%; }

  .\-1u\28xlarge\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 1280px) {
  .row > * {
    padding: 1.5em 0 0 1.5em; }

  .row {
    margin: -1.5em 0 -1px -1.5em; }

  .row.uniform > * {
    padding: 1.5em 0 0 1.5em; }

  .row.uniform {
    margin: -1.5em 0 -1px -1.5em; }

  .row.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.uniform.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.uniform.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.uniform.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.uniform.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.uniform.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.uniform.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .row.uniform.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.uniform.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .\31 2u\28large\29, .\31 2u\24\28large\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28large\29, .\31 1u\24\28large\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28large\29, .\31 0u\24\28large\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28large\29, .\39 u\24\28large\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28large\29, .\38 u\24\28large\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28large\29, .\37 u\24\28large\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28large\29, .\36 u\24\28large\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28large\29, .\35 u\24\28large\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28large\29, .\34 u\24\28large\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28large\29, .\33 u\24\28large\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28large\29, .\32 u\24\28large\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28large\29, .\31 u\24\28large\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28large\29  + *,
  .\31 1u\24\28large\29  + *,
  .\31 0u\24\28large\29  + *,
  .\39 u\24\28large\29  + *,
  .\38 u\24\28large\29  + *,
  .\37 u\24\28large\29  + *,
  .\36 u\24\28large\29  + *,
  .\35 u\24\28large\29  + *,
  .\34 u\24\28large\29  + *,
  .\33 u\24\28large\29  + *,
  .\32 u\24\28large\29  + *,
  .\31 u\24\28large\29  + * {
    clear: left; }

  .\-11u\28large\29 {
    margin-left: 91.66667%; }

  .\-10u\28large\29 {
    margin-left: 83.33333%; }

  .\-9u\28large\29 {
    margin-left: 75%; }

  .\-8u\28large\29 {
    margin-left: 66.66667%; }

  .\-7u\28large\29 {
    margin-left: 58.33333%; }

  .\-6u\28large\29 {
    margin-left: 50%; }

  .\-5u\28large\29 {
    margin-left: 41.66667%; }

  .\-4u\28large\29 {
    margin-left: 33.33333%; }

  .\-3u\28large\29 {
    margin-left: 25%; }

  .\-2u\28large\29 {
    margin-left: 16.66667%; }

  .\-1u\28large\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 980px) {
  .row > * {
    padding: 1.5em 0 0 1.5em; }

  .row {
    margin: -1.5em 0 -1px -1.5em; }

  .row.uniform > * {
    padding: 1.5em 0 0 1.5em; }

  .row.uniform {
    margin: -1.5em 0 -1px -1.5em; }

  .row.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.uniform.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.uniform.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.uniform.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.uniform.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.uniform.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.uniform.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .row.uniform.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.uniform.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28medium\29, .\39 u\24\28medium\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28medium\29, .\38 u\24\28medium\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28medium\29, .\37 u\24\28medium\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28medium\29, .\36 u\24\28medium\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28medium\29, .\35 u\24\28medium\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28medium\29, .\34 u\24\28medium\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28medium\29, .\33 u\24\28medium\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28medium\29, .\32 u\24\28medium\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28medium\29, .\31 u\24\28medium\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28medium\29  + *,
  .\31 1u\24\28medium\29  + *,
  .\31 0u\24\28medium\29  + *,
  .\39 u\24\28medium\29  + *,
  .\38 u\24\28medium\29  + *,
  .\37 u\24\28medium\29  + *,
  .\36 u\24\28medium\29  + *,
  .\35 u\24\28medium\29  + *,
  .\34 u\24\28medium\29  + *,
  .\33 u\24\28medium\29  + *,
  .\32 u\24\28medium\29  + *,
  .\31 u\24\28medium\29  + * {
    clear: left; }

  .\-11u\28medium\29 {
    margin-left: 91.66667%; }

  .\-10u\28medium\29 {
    margin-left: 83.33333%; }

  .\-9u\28medium\29 {
    margin-left: 75%; }

  .\-8u\28medium\29 {
    margin-left: 66.66667%; }

  .\-7u\28medium\29 {
    margin-left: 58.33333%; }

  .\-6u\28medium\29 {
    margin-left: 50%; }

  .\-5u\28medium\29 {
    margin-left: 41.66667%; }

  .\-4u\28medium\29 {
    margin-left: 33.33333%; }

  .\-3u\28medium\29 {
    margin-left: 25%; }

  .\-2u\28medium\29 {
    margin-left: 16.66667%; }

  .\-1u\28medium\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 736px) {
  .row > * {
    padding: 1.5em 0 0 1.5em; }

  .row {
    margin: -1.5em 0 -1px -1.5em; }

  .row.uniform > * {
    padding: 1.5em 0 0 1.5em; }

  .row.uniform {
    margin: -1.5em 0 -1px -1.5em; }

  .row.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.uniform.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.uniform.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.uniform.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.uniform.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.uniform.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.uniform.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .row.uniform.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.uniform.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .\31 2u\28small\29, .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28small\29, .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28small\29, .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28small\29, .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28small\29, .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28small\29, .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28small\29, .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28small\29, .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28small\29, .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28small\29, .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28small\29, .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28small\29, .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28small\29  + *,
  .\31 1u\24\28small\29  + *,
  .\31 0u\24\28small\29  + *,
  .\39 u\24\28small\29  + *,
  .\38 u\24\28small\29  + *,
  .\37 u\24\28small\29  + *,
  .\36 u\24\28small\29  + *,
  .\35 u\24\28small\29  + *,
  .\34 u\24\28small\29  + *,
  .\33 u\24\28small\29  + *,
  .\32 u\24\28small\29  + *,
  .\31 u\24\28small\29  + * {
    clear: left; }

  .\-11u\28small\29 {
    margin-left: 91.66667%; }

  .\-10u\28small\29 {
    margin-left: 83.33333%; }

  .\-9u\28small\29 {
    margin-left: 75%; }

  .\-8u\28small\29 {
    margin-left: 66.66667%; }

  .\-7u\28small\29 {
    margin-left: 58.33333%; }

  .\-6u\28small\29 {
    margin-left: 50%; }

  .\-5u\28small\29 {
    margin-left: 41.66667%; }

  .\-4u\28small\29 {
    margin-left: 33.33333%; }

  .\-3u\28small\29 {
    margin-left: 25%; }

  .\-2u\28small\29 {
    margin-left: 16.66667%; }

  .\-1u\28small\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 480px) {
  .row > * {
    padding: 1.5em 0 0 1.5em; }

  .row {
    margin: -1.5em 0 -1px -1.5em; }

  .row.uniform > * {
    padding: 1.5em 0 0 1.5em; }

  .row.uniform {
    margin: -1.5em 0 -1px -1.5em; }

  .row.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.uniform.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.uniform.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.uniform.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.uniform.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.uniform.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.uniform.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .row.uniform.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.uniform.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28xsmall\29  + *,
  .\31 1u\24\28xsmall\29  + *,
  .\31 0u\24\28xsmall\29  + *,
  .\39 u\24\28xsmall\29  + *,
  .\38 u\24\28xsmall\29  + *,
  .\37 u\24\28xsmall\29  + *,
  .\36 u\24\28xsmall\29  + *,
  .\35 u\24\28xsmall\29  + *,
  .\34 u\24\28xsmall\29  + *,
  .\33 u\24\28xsmall\29  + *,
  .\32 u\24\28xsmall\29  + *,
  .\31 u\24\28xsmall\29  + * {
    clear: left; }

  .\-11u\28xsmall\29 {
    margin-left: 91.66667%; }

  .\-10u\28xsmall\29 {
    margin-left: 83.33333%; }

  .\-9u\28xsmall\29 {
    margin-left: 75%; }

  .\-8u\28xsmall\29 {
    margin-left: 66.66667%; }

  .\-7u\28xsmall\29 {
    margin-left: 58.33333%; }

  .\-6u\28xsmall\29 {
    margin-left: 50%; }

  .\-5u\28xsmall\29 {
    margin-left: 41.66667%; }

  .\-4u\28xsmall\29 {
    margin-left: 33.33333%; }

  .\-3u\28xsmall\29 {
    margin-left: 25%; }

  .\-2u\28xsmall\29 {
    margin-left: 16.66667%; }

  .\-1u\28xsmall\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 360px) {
  .row > * {
    padding: 1.5em 0 0 1.5em; }

  .row {
    margin: -1.5em 0 -1px -1.5em; }

  .row.uniform > * {
    padding: 1.5em 0 0 1.5em; }

  .row.uniform {
    margin: -1.5em 0 -1px -1.5em; }

  .row.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.uniform.\32 00\25  > * {
    padding: 3em 0 0 3em; }

  .row.uniform.\32 00\25 {
    margin: -3em 0 -1px -3em; }

  .row.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.uniform.\31 50\25  > * {
    padding: 2.25em 0 0 2.25em; }

  .row.uniform.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em; }

  .row.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.uniform.\35 0\25  > * {
    padding: 0.75em 0 0 0.75em; }

  .row.uniform.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em; }

  .row.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .row.uniform.\32 5\25  > * {
    padding: 0.375em 0 0 0.375em; }

  .row.uniform.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em; }

  .\31 2u\28xxsmall\29, .\31 2u\24\28xxsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28xxsmall\29, .\31 1u\24\28xxsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28xxsmall\29, .\31 0u\24\28xxsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28xxsmall\29, .\39 u\24\28xxsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28xxsmall\29, .\38 u\24\28xxsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28xxsmall\29, .\37 u\24\28xxsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28xxsmall\29, .\36 u\24\28xxsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28xxsmall\29, .\35 u\24\28xxsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28xxsmall\29, .\34 u\24\28xxsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28xxsmall\29, .\33 u\24\28xxsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28xxsmall\29, .\32 u\24\28xxsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28xxsmall\29, .\31 u\24\28xxsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28xxsmall\29  + *,
  .\31 1u\24\28xxsmall\29  + *,
  .\31 0u\24\28xxsmall\29  + *,
  .\39 u\24\28xxsmall\29  + *,
  .\38 u\24\28xxsmall\29  + *,
  .\37 u\24\28xxsmall\29  + *,
  .\36 u\24\28xxsmall\29  + *,
  .\35 u\24\28xxsmall\29  + *,
  .\34 u\24\28xxsmall\29  + *,
  .\33 u\24\28xxsmall\29  + *,
  .\32 u\24\28xxsmall\29  + *,
  .\31 u\24\28xxsmall\29  + * {
    clear: left; }

  .\-11u\28xxsmall\29 {
    margin-left: 91.66667%; }

  .\-10u\28xxsmall\29 {
    margin-left: 83.33333%; }

  .\-9u\28xxsmall\29 {
    margin-left: 75%; }

  .\-8u\28xxsmall\29 {
    margin-left: 66.66667%; }

  .\-7u\28xxsmall\29 {
    margin-left: 58.33333%; }

  .\-6u\28xxsmall\29 {
    margin-left: 50%; }

  .\-5u\28xxsmall\29 {
    margin-left: 41.66667%; }

  .\-4u\28xxsmall\29 {
    margin-left: 33.33333%; }

  .\-3u\28xxsmall\29 {
    margin-left: 25%; }

  .\-2u\28xxsmall\29 {
    margin-left: 16.66667%; }

  .\-1u\28xxsmall\29 {
    margin-left: 8.33333%; } }
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background: #EFEFEF; }

.layout .mdl-layout__header {
  background: #FFF;
  color: #000; }
  .layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgb(103,58,183); }
  .layout .mdl-layout__header .mdl-layout__header-row {
    padding-left: 56px; }
  .layout .mdl-layout__header .mdl-textfield {
    padding-top: 27px; }
.layout .mdl-layout__drawer {
  background: #442677;
  border: none; }
  .layout .mdl-layout__drawer .mdl-menu__container {
    z-index: -1; }
  .layout .mdl-layout__drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center; }
  .layout .mdl-layout__drawer .drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    height: auto; }
    .layout .mdl-layout__drawer .drawer-header img {
      max-width: 60%;
      margin: 0 auto 16px; }
    .layout .mdl-layout__drawer .drawer-header span {
      color: #FFF;
      text-align: center; }
  .layout .mdl-layout__drawer .navigation {
    flex-grow: 1;
    z-index: -2;
    background: rgb(103,58,183); }
    .layout .mdl-layout__drawer .navigation .mdl-navigation__link {
      display: flex !important;
      flex-direction: row;
      align-items: center;
      color: rgba(255, 255, 255, 0.54);
      font-weight: 500; }
      .layout .mdl-layout__drawer .navigation .mdl-navigation__link .material-icons {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.54);
        margin-right: 2em; }
      .layout .mdl-layout__drawer .navigation .mdl-navigation__link.selected {
        color: #FFF;
        background: #6F3FC4; }
      .layout .mdl-layout__drawer .navigation .mdl-navigation__link:hover {
        background-color: #5A339D; }
.layout .mdl-layout__content .content-wrapper {
  width: 100%;
  height: 100%; }
  .layout .mdl-layout__content .content-wrapper .banner {
    width: 100%; }
  .layout .mdl-layout__content .content-wrapper .inner-padding {
    padding: 28px 56px; }
    @media screen and (max-width: 736px) {
      .layout .mdl-layout__content .content-wrapper .inner-padding {
        padding: 16px; } }

.section-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 1.4em;
  font-weight: 700;
  color: #6e6e6e; }
  .section-title.with-margin-top {
    margin-top: 28px; }

.color-primary {
  color: rgb(103,58,183); }

.card {
  align-items: flex-start;
  align-content: flex-start;
  width: auto;
  height: auto;
  min-height: 0; }
  .card.dark {
    background: rgb(103,58,183); }
    .card.dark * {
      color: rgba(255, 255, 255, 0.54); }
    .card.dark .divider {
      background: #442677;
      width: 100%;
      height: 1px; }
  .card.statistic h3 {
    color: #FFF;
    padding: 20px;
    font-size: 3.5em;
    font-weight: 700; }
    @media screen and (max-width: 1280px) {
      .card.statistic h3 {
        font-size: 3em; } }
    @media screen and (max-width: 980px) {
      .card.statistic h3 {
        font-size: 2.5em; } }
    @media screen and (max-width: 736px) {
      .card.statistic h3 {
        padding: 15px; } }
    @media screen and (max-width: 480px) {
      .card.statistic h3 {
        font-size: 2em; } }
  .card .title {
    font-size: 1.25em;
    font-weight: 300;
    padding: 20px;
    color: #FFF;
    background: rgb(103,58,183);
    width: 100%; }
    @media screen and (max-width: 980px) {
      .card .title {
        font-size: 1em; } }
    @media screen and (max-width: 736px) {
      .card .title {
        font-size: 0.75em;
        padding: 15px; } }

.loading-wrapper {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%; }
  .loading-wrapper img {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto; }

#home .graph-container {
  width: 100%; }
  #home .graph-container p {
    padding: 1em;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
