body{
margin:0;
}
.container{
width:100%;
background-color: #673ab7;
float:left;
}


.sub-container{
width:50%;
height:auto;
float:left;
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
background-color: #673ab7;
}

#sub-right{
padding-top:2%;
display:table-cell;
vertical-align: middle;
margin:auto;
}
#sub-left{
min-height:200px;
}
.bottom-left{
min-height:200px;
}
.white{
background-color:#fff;
}
.negro{
color:#35176a;
}

h5{
font-family: 'Roboto', sans-serif;
font-weight: 
color:#ffff;
font-weight:normal;
font-size:16pt;
margin:10px;
}
.under{
opacity:0.8;
text-decoration: underline;
margin-bottom:15px;
}
.purple{
color: #673ab7;
opacity:0.8;
margin-bottom:15px;
margin-left: 10px;
}

p{
font-family: 'Roboto', sans-serif;
width:80%;
text-align:left;
}

.img-div{
width:100%;
margin-bottom:5px;
}
.img-div-bottom{
width:100%;
margin-top:5px;
}
#img-div1{

}
#img-div2{

}
.dwn-img{
height:60px;
width:auto;
margin-bottom:10px;
}

.celular{
float:right;
width:55%;
height:auto;
}
#div-celular{
position:absolute;
width:50%;
height:100%;
left:0px;
top:0px;
}

#arrow{
position:absolute;
top:94%;
left:49%;
}
.arrow-img{
height:30px;
width:auto;
}


.tutorial{
position:absolute;
top:100%;
width:100%;
height:100%;
background-color: #673ab7;
}
.tuto-out{
width:36%;
min-height:200px;
float:left;
}
.tuto-mid{
width:28%;
min-height:200px;
float:left;
}
.permiso{
width:70%;
height:auto;
margin:auto;
}
.float-right{
margin-left:24% !important;
}
.float-left{
margin-right:30% !important;
position:relative;
left:-30px;
}
.permisoP{
text-align:center;
color:#fff;
margin:auto;
font-size:20px;
}
.descarga-div{
margin:auto;
padding-top:60%;
}
#mid-descarga{
width:210px;
height:60px;
margin:auto;
}
.btn-descarga{
margin:auto;
margin-top:20px;
}
#img-div3{
margin:auto;
}
#btn3{

}

@media only screen and (max-width: 700px) {
.container{
height:100%;
padding-left:10px;
}
p{
width:94%;
}
#sub-right{
width:100%;
padding-top:0;
}
#sub-left{
width:0px;
}
.bottom-left{
width:0px;
}
#arrow{
width:0;
}
.arrow-img{
height:0;
width:0;
}
#div-celular{
width:0;
}
.tuto-out{
width:100%;
min-height:200px;
float:left;
}
.tuto-mid{
width:100%;
min-height:200px;
float:left;
}
.float-right{
margin-left:0px !important;
}
.permiso{
width:60%;
margin:auto;
height:auto;
}
.descarga-div{
margin:auto;
width:40%;
color: #673ab7;
}
.permisoP2{
color:#673ab7;
}
}